<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="demo" verbose="1" >
    <test name="demo test"   >
        <classes>
           <!--<class name="com.rong.flora.rest_api.TestRestAPI"/>-->
            <!--<class name="com.rong.flora.test_case.TestLenovoServer"/>-->
            <!--<class name="com.rong.flora.test_case.TestAbstractTea"/>-->
            <class name="com.rong.flora.rest_api.TestCouponAPI"/>
        </classes>
    </test>
    <parameter name="id" value="1"/>
    <parameter name="price" value="99"/>
    <parameter name="couponId" value="8"/>
    <parameter name="account" value="25"/>
    <parameter name="operator" value="99"/>
</suite>